.column-left-nav {
    font-size: 1em;
}

.column-left-nav a,
.column-left-nav a:visited,
.column-left-nav a:active {
    text-decoration: none;
    color          : rgb(54, 61, 68);
    transition     : 0.25s;
    border-bottom  : 1px dashed rgba(165, 42, 42, 0);
}

.column-left-nav a:hover {
    border-bottom: 1px dashed brown;
}

.column-left-nav a::before {
    content: "-> ";
}

html {
    scroll-behavior: smooth;
}

.commandSets .href-offset-a-element:target {
    padding-top: 5em;
    margin-top : -5em;
}

@keyframes aHrefAnim {
    to {
        box-shadow      : 2px 2px 8px rgba(0, 0, 0, 0.8);
        background-color: rgba(255, 77, 77, 0.18);
    }
}