.main-container .card {
    margin: auto;
    margin-top: 1.5em;
    padding: 1.5em;
    margin: 0px 20px 30px 20px;

    border: 1px solid rgb(93, 93, 93);
    border-radius: 10px;
    background-color: rgba(127, 255, 212, 0.069);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}