* {
    margin: 0px;
    padding: 0px;
}

.nav-bar {
    z-index: 1;
    background-color: rgb(208, 186, 248);
    box-shadow: 1px 2px 4px rgba(178, 155, 255, 0.5);
    border: 1px dashed rgba(255, 72, 72, 0.099);
    height: 48px;
    margin-bottom: 25px;

    position: sticky;
    top: 0px;
}

.nav-bar .selection {
    transition: 0.15s;
}

.nav-bar .item {
    float: left;
    height: inherit;
    background-color: rgb(208, 186, 248);
}

.nav-bar .selection>span {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translate(0px, -50%);

    padding: 0px 20px;
    text-decoration: none;
    color: #fc481b;
}

.nav-bar .right {
    float: right;
}

.nav-bar .selection.selected {
    background-color: rgb(208, 186, 248);
}

.nav-bar .selection:hover:not(.selected) {
    background-color: rgb(177, 128, 223);
}

.nav-bar .selection:hover {
    cursor: pointer;
}


/*搜索栏*/
.search-form {
    display: inline-block;
    width: auto;
    overflow: hidden;

    position: relative;
    top: 50%;
    transform: translate(0px, -50%);
}

.search-form input[type=text] {
    width: 150px;
    height: 25px;
    outline: none;
    border: 1px solid rgb(38, 38, 38);
    border-radius: 5px;
    padding-left: 32px;

    background-image: url('searchicon.png');
    background-repeat: no-repeat;
    background-position: 4px 3px;
    background-color: rgb(231, 231, 231);

    transition: 0.15s;
}

.search-form input[type=text]:focus {
    width: 300px;
}