.download
{
    font-size: 25px;
    color:rgb(56, 139, 194);
    text-decoration: none;
}

.end
{
    color: red;
    font-size: 25px;
}

.versionall
{
    margin-top: 10px;
    text-align: center;
    height: 100px;
    width: 300px;
}

.version
{
    line-height: 70%;
}