.left
{
    height: 40px;
    width: 120px;
    background-color: #c3e4ec;
    font-size: 30px;
    color: #41559b;
    text-decoration: none;
    text-align: center;
    float: left;
    border-bottom: 1px solid darkcyan;
}

.mainbody
{
    background-color: rgb(255, 232, 204)
}

.allleft
{
    float:left;
    height: 920px;
    width: 120px;
    margin-right: 10px;
    border: 1px solid saddlebrown;
}

.github
{
    color: deeppink;
    margin: 10px;
    font-size: 20px;
}

.self
{
    color: lightpink;
    font-size: 50px;
    margin: 1px;
    text-decoration: none;
    cursor: default;
}

.phigros
{
    font-size: 30px;
    text-decoration: none;
    color: burlywood;
    margin: 10px;
}