.download
{
    font-size: 25px;
    color:rgb(56, 139, 194);
    text-decoration: none;
}

.end
{
    color: red;
    font-size: 25px;
}

.version
{
    margin-top: 20px;
    text-align: center;
    height: 70px;
    width: 250px;
}
